body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
    color: #333;
}

h1 {
    font-size: 32px;
    color: #007bff;
}

h2 {
    font-size: 24px;
    color: #007bff;
}

h3 {
    font-size: 20px;
    color: #007bff;
}

p {
    font-size: 16px;
}

code {
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.endpoint {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    word-wrap: break-word;
}

.example {
    margin-top: 10px;
}

.toggle-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.toggle-btn:hover {
    background-color: #0056b3;
}

.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-toggle {
    display: none;
}

.navbar-toggle-label {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.container {
    padding: 20px;
}

.navbar-links,
.right-hand-bar {
    box-sizing: border-box;
}

@media (max-width: 1460px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: #007bff;
        padding: 10px 20px;
        width: 100%;
    }

    .navbar-toggle-label {
        display: block;
    }

    .navbar-toggle:checked ~ .navbar-links {
        display: flex;
    }
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
}
footer p {
    margin: 0;
}
